/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@300;700&family=Zilla+Slab:wght@300&display=swap');

:root {
  --bg: #f7f8fc;
  --text: #564e52;
  --primary: #0074e1;
  --secondary: #faed26;
  --serif: 'Zilla Slab', serif;
  --sans: 'Biryani', sans-serif;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: var(--sans);
  font-weight: 200;
  line-height: 2;
  font-size: 1rem;
  letter-spacing: .05rem;
}

a, a:hover {
    color: var(--primary);
    text-decoration: none;
    word-break: break-word;
}

html {
    color: var(--text);
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
    padding: 0;
}

img {
    margin: 10px auto 10px auto;
    max-width: 100%;
    display: block;
}

a img {
    border:none;
}

figure {
    margin: 0;
    text-align: center;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

blockquote {
    margin-left: 1rem;
    font-style: italic;
    font-size: 1.4rem;
    font-family: Georgia,bitstream charter,serif;
    border-left: 3px solid;
    border-color: var(--primary);
    padding-left: 20px;
}

blockquote cite {
    font-size: 70%;
    opacity: .8;
}

blockquote em {
    font-weight: 600;
}

a {
    text-decoration:none;
    border-bottom: 1px solid var(--secondary);
    box-shadow: inset 0 -10px 0  var(--secondary);
    color: var(--primary);
    transition: background 0.2s cubic-bezier(.33,.66,.66,1);
  }
  
  a:hover {
    background:  var(--secondary);
    transition: .5s;
  }

h1,h2,h3,h4,h5,h6 {
    font-family: var(--serif);
    line-height: 1.2;
    color: var(--primary);
    font-weight: 300;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.2rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: .9rem;
    margin-bottom: 0px;
}

.align-center {
    text-align: center;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.container {
    max-width: 800px;
}

ul {
    padding-left: 15px;
}

ul.flat {
    margin: 0;
    padding: 0;
}

ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
}

.prevent-collapse {
    min-height: .1rem
}

.page-title {
    margin: 0;
}

.smaller {
    font-size: 70%;
}

ul {
    list-style: disc inside;
}

.site-title a {
	color: var(--text);
	text-decoration: none !important;
}

.header h2 {
    color: var(--text);
}

.flat a[href] {
    text-decoration: none;
    border-bottom: 0px;
    box-shadow: none;
}

.flat a:hover {
    color: var(--secondary);
    background: none;
    transition: 0.3s;
}

.post ul li {
    margin-bottom: 10px;
}

.post ul li p {
    display: inline;
}

.highlight pre {
    margin-bottom: 0;
    margin-top: 0;
    padding: 20px;
    background-color: transparent !important;
}

.highlight {
    background: 0 0;
    background-color: #FAFAFA;
}

pre code {
  display: inline-block;
}


.wrapper {
    max-width: 760px;
    margin: 0 auto;
}

.container {
    margin-top: 50px;
}

.header {
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.header h1,
.header h2 {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    line-height: 1.3em;
}

.header h2 {
    font-size: 1.125rem;
}

.header nav {
    margin-top: 20px;
    border-top: 1px solid #f4f4f4;
}

.header nav ul,
.header nav li {
    margin: 0;
}

.header nav ul.flat {
    padding: 0;
}

.header nav ul.flat li {
    display: inline-block;
    list-style: none;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 10px;
    text-transform: capitalize;
}

.header .site-description {
    display: flex;
    justify-content: space-between;
}

.header .site-description nav {
    margin: 0;
    padding: 0;
    border: none;
    min-width: 50px;
    margin-left: 15px;
}

.header .site-description nav ul svg {
    max-height: 15px;
}

.section .section-header {
    font-size: 0.75rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.recent-posts .posts .post {
    margin-bottom: 30px;
}

.recent-posts .posts .post .meta,
.post .post-header .meta,
.list .posts .post .meta {
    font-size: 0.725rem;
    color: #999;
    margin-bottom: 4px;
}

.post .post-header {
    margin-bottom: 30px;
}

.post .post-header .title {
    margin: 0;
}

.post-tags a {
	margin-right: 5px;
}

.post .post-header .meta {
    padding-left: 5px;
    margin-top: 10px;
}

.post .draft-label {
    color: var(--primary);
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post-tags .tags li {
    margin-bottom: 0;
    margin-top: 20px;
}


/* Tag Buttons */

.post-tags .tags a {
    display: inline-block;
    border: 1px solid var(--primary)
    border-radius: 4px;
    padding: 0px 6px;
    color: #F3DB4F;
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
}

.post-tags .tags a {
  border-color: #F3DB4F;
  border-radius: 0;
  color: var(--primary);
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.post-tags .tags a:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #F3DB4F;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.post-tags .tags a:hover {
  color: #333;
}
.post-tags .tags a:hover:after {
  width: 110%;
}

/* End of Tag Buttons */


.list .posts .post .meta {
    margin-bottom: 0;
    margin-left: 5px;
}

.footer {
    text-align: right;
    font-size: 0.75em;
    color: #999;
    border-top: 1px solid #f4f4f4;
    padding: 20px 0;
    margin-top: 40px;
}

.page-title {
    margin-bottom: 0;
}

.tag-cloud {
    margin-top: 20px;
}

.tag-cloud a {
    margin-right: 15px;
}

.pagination {
    margin: 0;
    padding: 0;
    text-align: left;
    display: flex;
    justify-content: space-between;
}

.pagination li {
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.pagination .page-prev {
    margin-right: 20px;
    padding-right: 20px;
}

.pagination .page-item.page-prev {
    text-align: left;
}

.pagination .page-item.page-next {
    text-align: right;
}

table th {
    background-color: #f4f4f4;
}

table th, table td {
    padding: 10px 20px;
    border: 1px solid #dddddd;
}

.next-post {
  padding: 10px 5px 10px 5px;
}

.previous-post {
  text-align: right;
  padding: 10px 5px 5px 5px;
}


@media (max-width: 767px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 1.8rem;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1rem;
    }

    .container {
        margin-top: 10px;
    }
}

/* FORM STUFF */

button, input, select, textarea {
    font-family: inherit;
    border-radius: 0;
    display: block;
    width: 100%;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .3s,-webkit-box-shadow ease-in-out .3s;
    -o-transition: border-color ease-in-out .3s,box-shadow ease-in-out .3s;
    transition: border-color ease-in-out .3s,box-shadow ease-in-out .3s;
    color: #eee;
  }

textarea {
  overflow: auto;
}

.kwes-form {
  flex-wrap: wrap;
  text-align: center;
}

.kw-form-wrapper {
  width: 100%;
}

.kwes-form input, textarea {
  background-color: transparent;
  border: 1px solid #ddd;
  height: 45px;
  border-radius: 0;
  padding: 10px 0;
  display: block;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.kwes-form textarea {
  height: 120px;
}

.kwes-form button {
  width: 100%;
  border: 1px solid #3498db;
  color: #fff;
  box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
  -webkit-transition: all 150ms ease-in-out;
  transition: all .3ms ease-in-out;
  background: #57cbcc;
  padding: 12px 0;
  width: 100%;
  margin: 0;
  transition: all .2s ease-in 0s;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
}

.kwes-form button:hover {
  box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  background: transparent;
}

/* podcast player */

audio {
      width: 100%;
      margin-top: 10px;
}
