body {
  background-color: #080808;
}

a, a:hover {
    color: #F3DB4F;
    text-decoration: none;
    word-break: break-word;
}

html {
    color: #333;
}

a:hover {
    color: #F3DB4F;
    text-decoration: underline;
}

.post .draft-label {
    color: #F3DB4F;
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}

.post-tags .tags a {
    display: inline-block;
    border: 1px solid #F3DB4F;
    border-radius: 4px;
    padding: 0px 6px;
    color: #F3DB4F;
    line-height: 20px;
    font-size: 12px;
    text-decoration: none;
    margin: 0 1px;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
